<div class="c-site-header">
    <div class="o-wrapper">

        <div class="c-success">
            <div class="c-success__logo">
                <f:link.page pageUid="1" class="c-logo__link">
                    <img class="c-logo"
                         src="{f:uri.image(src: 'EXT:basetemplate9/Resources/Public/Icons/Extension.svg')}"
                         alt="">
                </f:link.page>
            </div>
            <div class="c-success__body">
                <h1>You successfully installed the Template Extension.</h1>
                <p>Now you can start implementing your own templates and configurations. Have fun!</p>
            </div>
        </div>


        <f:if condition="{mainNavigation}">
            <f:render partial="Navigation/MainNavigation" arguments="{_all}"/>
        </f:if>

    </div>
</div>
