body {
    background-color: #99cc99;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}


.wrapper {
    background-color: #fff;
    border-radius: .5em;
    margin: 3rem auto 0;
    padding: 1.25em;
    text-align: left;
    max-width: 80rem;
}


.header {
    padding: 2em 0 1em;
    text-align: center;
}


.success {
    margin-bottom: 4em;
    text-align: center;
}


.content {
    overflow: auto;
}


.col--left {
    float: left;
    width: 60%;
}


.col--right {
    float: right;
    width: 35%;
}