body {
    background-color: #99cc99;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-align: center;
}
.wrapper {
    background-color: #fff;
    border-radius: .5em;
    margin: 3rem auto 0;
    padding: 1.25em ;
    width: 20rem;
}
.header {
    padding: 2em 0;
}