<!-- call the layout (filename without suffix) -->
<f:layout name="DefaultLayout" />

<f:section name="body">
    <!--TYPO3SEARCH_begin-->
    <div class="o-layout  o-layout--large">
        <div class="o-layout__item  u-1/1  u-margin-bottom-large">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '10'}"/>
        </div>

        <div class="o-layout__item  u-1/1  u-1/2@phablet  u-1/3@tablet  u-margin-bottom-large">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
        </div>

        <div class="o-layout__item  u-1/1  u-1/2@phablet  u-1/3@tablet  u-margin-bottom-large">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}"/>
        </div>

        <div class="o-layout__item  u-1/1  u-1/2@phablet  u-1/3@tablet  u-margin-bottom-large">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}"/>
        </div>
        <div class="o-layout__item  u-1/1">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '20'}"/>
        </div>
    </div>
    <!--TYPO3SEARCH_end-->
</f:section>
